<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RealVerification.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>114</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D70142AD14DE9CA3EB0B07EA8B33953B0CE5EFC4</string>
				<key>dateExpires</key>
				<string>11/10/24</string>
				<key>type</key>
				<string>Cloud Managed iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>J9W7JJ7925.com.lguplus.RealVerification</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Y3X76MKKP6</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>RealVerification.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6bfc122c-6d84-43b0-9e99-616a64be36fd</string>
				<key>dateExpires</key>
				<string>2/1/25</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.lguplus.RealVerification</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Y3X76MKKP6</string>
				<key>name</key>
				<string>LG Uplus Corp.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1.4</string>
		</dict>
	</array>
</dict>
</plist>
