<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>real_verification.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>130</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B91ACF2FDF8535BA1D497A48186A6ADBFA275782</string>
				<key>dateExpires</key>
				<string>1/2/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B91ACF2FDF8535BA1D497A48186A6ADBFA275782</string>
						<key>dateExpires</key>
						<string>1/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3X76MKKP6</string>
						<key>name</key>
						<string>LG Uplus Corp.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B91ACF2FDF8535BA1D497A48186A6ADBFA275782</string>
						<key>dateExpires</key>
						<string>1/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3X76MKKP6</string>
						<key>name</key>
						<string>LG Uplus Corp.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B91ACF2FDF8535BA1D497A48186A6ADBFA275782</string>
						<key>dateExpires</key>
						<string>1/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3X76MKKP6</string>
						<key>name</key>
						<string>LG Uplus Corp.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B91ACF2FDF8535BA1D497A48186A6ADBFA275782</string>
						<key>dateExpires</key>
						<string>1/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>libwebp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3X76MKKP6</string>
						<key>name</key>
						<string>LG Uplus Corp.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B91ACF2FDF8535BA1D497A48186A6ADBFA275782</string>
						<key>dateExpires</key>
						<string>1/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3X76MKKP6</string>
						<key>name</key>
						<string>LG Uplus Corp.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B91ACF2FDF8535BA1D497A48186A6ADBFA275782</string>
						<key>dateExpires</key>
						<string>1/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3X76MKKP6</string>
						<key>name</key>
						<string>LG Uplus Corp.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B91ACF2FDF8535BA1D497A48186A6ADBFA275782</string>
						<key>dateExpires</key>
						<string>1/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3X76MKKP6</string>
						<key>name</key>
						<string>LG Uplus Corp.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B91ACF2FDF8535BA1D497A48186A6ADBFA275782</string>
						<key>dateExpires</key>
						<string>1/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3X76MKKP6</string>
						<key>name</key>
						<string>LG Uplus Corp.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B91ACF2FDF8535BA1D497A48186A6ADBFA275782</string>
						<key>dateExpires</key>
						<string>1/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>video_player_avfoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3X76MKKP6</string>
						<key>name</key>
						<string>LG Uplus Corp.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B91ACF2FDF8535BA1D497A48186A6ADBFA275782</string>
						<key>dateExpires</key>
						<string>1/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>video_thumbnail.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3X76MKKP6</string>
						<key>name</key>
						<string>LG Uplus Corp.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B91ACF2FDF8535BA1D497A48186A6ADBFA275782</string>
						<key>dateExpires</key>
						<string>1/2/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3X76MKKP6</string>
						<key>name</key>
						<string>LG Uplus Corp.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>J9W7JJ7925.com.lguplus.RealVerification</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Y3X76MKKP6</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e66ebe0a-fd75-4439-9eae-09d5f2c542eb</string>
				<key>dateExpires</key>
				<string>5/23/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.lguplus.RealVerification</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Y3X76MKKP6</string>
				<key>name</key>
				<string>LG Uplus Corp.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.3.0</string>
		</dict>
	</array>
</dict>
</plist>
